.App{
  background-color: azure;
}
.App ul li{
  margin: 1.2em;
  list-style-type: none;
}
.App .deletebtn{
  background-color: red;  
  position: relative;
  left: 50%;
}


/*  learn color specificity from w3schools */